.product{
display: flex;
flex-direction: column;
}

.product_header{
    background-color: aqua;
}
.product_header_link{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: lawngreen;
    padding: 50px 0 ;
}

.product_header_link>h2{
    width: 100%;
}

.product_body{
    display: flex;
    flex-flow: row wrap;
    background-color: lawngreen;
}

.product_header_search {
    display: flex;
    width: 100%;
    padding: 0 50px;
}
.product_header_search>input{
    width: 500px;
}